@import 'layout-attributes';
@import 'mixins';
@import 'layout1';
@import 'layout2';
@import 'variables';

.ember-paper-react-hide {
  display: none;
}

.ember-paper-react-chip .MuiAvatar-root {
  margin-left: .4em;
  font-size: 1em;
}

.ember-paper-react-avatar-group {
  flex-direction: row !important;
  .ember-paper-react-avatar.hide-avatar {
    display: none;
  }

  .MuiAvatar-circular { border-radius: 50%; }
  .MuiAvatar-rounded { border-radius: 4px; }
  .MuiAvatar-square { border-radius: 0; }
}

.ember-paper-react-tooltip.tooltip-cursor-pointer-enabled {
  &:hover {
    cursor: pointer;
  }
}
