<span class={{this.componentType}} ...attributes
  {{ember-paper-reactable this.inserted this.changeReactState this.changeArgs}}
>
  {{#in-element this.moveLocation}}
    <span class="ember-paper-react-tooltip-content-wrapper layout-column layout-align-center">
      {{yield}}
    </span>
  {{/in-element}}
</span>