<span class={{this.componentType}} data-group-identifier={{this.groupIdentifier}} ...attributes
  {{ember-paper-reactable this.inserted this.changeReactState this.changeArgs}}
>
  {{#in-element this.moveLocation}}
    {{yield}}
  {{/in-element}}
</span>